/* font */
:host ::ng-deep .pin-act-btn > span {
  color: #f44336;
}

:host ::ng-deep .mat-button-wrapper {
  color: #ffffff;
}

:host ::ng-deep .mat-focused .mat-form-field-label {
  color: #22345a;
}

:host ::ng-deep .mat-form-field-label {
  color: #22345a;
  font-weight: bold;
}

mat-form-field.mat-form-field {
  font-size: 16px;
  color: #1f1f1f;
}

/* layout */
.pin-details-container {
  display: grid;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "pin-details-header"
    "pin-details-content"
    "pin-details-actions";
  height: 100%;
}

.pin-details-header {
  grid-area: pin-details-header;
  color: #253b65;
}

.pin-details-content {
  grid-area: pin-details-content;
  color: black;
  padding: 20px 10px;
}

.pin-details-actions {
  grid-area: pin-details-actions;
  justify-self: end;
}

.full-width {
  width: 100%;
}

.mat-form-field-flex {
  background-color: rgba(34, 52, 90, 0.15);
}
