* {
  font-family: Lato, Source Sans Pro, Roboto, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #22345a;
}

/* fonts */
:host ::ng-deep .mat-button-wrapper {
  color: #ffffff;
}

.column-header {
  color: #ffffff;
}

.pin-row-text {
  color: black;
}

.pin-row:hover .pin-alias {
  color: var(--tedee-indigo);
}

/* layout */

.pin-mgmt-container {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: 30px 1fr 30px;
  grid-template-areas:
    ". . ."
    ". pin-mgmt-content ."
    ". . .";
}

.pin-mgmt-content {
  grid-area: pin-mgmt-content;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "pin-header"
    "pin-content";
}

.pin-header {
  grid-area: pin-header;
  display: grid;
  grid-template-columns: 9fr 0.5fr;
  grid-template-areas: "pin-header-title pin-header-actions";
}

.pin-header-title {
  grid-area: pin-header-title;
  align-self: center;
  color: #ffffff;
}

.pin-header-actions {
  grid-area: pin-header-actions;
  place-self: center;
}

.mat-raised-button {
  width: 88px;
  height: 41px;
}

.pin-content {
  grid-area: pin-content;
}

.pin-table-columns {
  grid-area: pin-content;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr 1fr 4fr;
  align-items: center;
}

.pin-table {
  height: calc(100vh - 125px);
  overflow: auto;
}

.pin-row {
  background-color: white;
  margin: 5px 0px;
  border-width: 1px;
  border-radius: 10px;
  padding: 15px;
  color: black;
}

.pin-row:hover {
  background: #d5f5ff;
}
