<div class="pin-mgmt-container">
  <div class="pin-mgmt-content">
    <div class="pin-header">
      <div class="pin-header-title header-title">Door for apartment 23</div>
      <div class="pin-header-actions">
        <button mat-raised-button class="indigo" (click)="createPin()">
          New PIN
        </button>
      </div>
    </div>
    <div class="pin-content">
      <div class="pin-table-columns">
        <div class="column-header">Name</div>
        <div class="column-header">From</div>
        <div class="column-header">To</div>
      </div>
      <div class="pin-table">
        <div
          class="pin-row"
          *ngFor="let row of pins$ | async; let i = index"
          (click)="openPinDetailsDialog(row)"
        >
          <div class="pin-table-columns pin-basic">
            <div class="pin-row-text pin-alias">{{ row.alias }}</div>
            <div class="pin-row-text">
              {{ row.startDate | date: "dd/MM/yyyy" }}
            </div>
            <div class="pin-row-text">
              {{ row.endDate | date: "dd/MM/yyyy" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
